body{
    background-color: black;
    color: white;
    width: 100vw;
}

#body_content{
    border: 50px white;
}

.top-panel { grid-area: header; text-align: center; }
.left-panel { grid-area: left; text-align: center; }
.mid-panel { grid-area: menu; text-align: center; }
.right-panel { grid-area: right; text-align: center;}
.bottom-panel { grid-area: footer; text-align: center; display: flex; justify-content: space-evenly;}

.interface-panel {
    width: 100vw;
    display: grid;
    grid-template-areas:
    'left header header header right right right'
    'left menu menu menu right right right'
    'left footer footer footer right right right';
    grid-gap: 5px;
    padding: 0px;
}